/*=====RESET CSS=====*/

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
    border-style: solid double;
    border-color: #48FB2F;
    border-left-width: 20px;
    border-right-width: 20px;
    background-color: #021e08;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2332c124' fill-opacity='0.58' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/*=====COLOR VARIABLE=====*/

.blackGreen {
    color: #021E08;
}

.darkGreen {
    color: #135C11;
}

.green {
    color: #21891A;
}

.lightGreen{
    color: #32C124;
}

.neonGreen{
    color: #48FB2F;
}

.red {
    color: #FF0000;
}

.game-space-dark{
    border: 10px solid #135C11;
}


/*=====TYPOGRAPHY=====*/

h1{
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 50px;
}

h2{
    font-size: 25px;
    margin-top: 0;
}

h3{
    font-size: 23px;
    align-content: justify;
}

/*=====ABOUT=====*/

#title{
    display: flex;
    height: 145px;
    align-items: center;
    justify-content: space-between;
}

.game{
    margin-right: 50px;
    padding: 30px ;
    border: 10px solid #135C11;

}

.game:hover{
    margin-right: 50px;
    padding: 30px ;
    border: 10px solid #135C11;
    background-color: #48FB2F;
}

.game a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.small-main{
    display: none;
}

/*=====INSTRUCTIONS=====*/

#aboutMe{
    height: 480px;
    width: 769px;
    border: 10px solid #135C11;
    background-color: #021e08;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2332c124' fill-opacity='0.79' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 0 160px;
}

.avatar img {
    width: 250px;
    filter: grayscale();
}

.informations {
    display: flex;
    flex-direction: column;
}

.informations a {
    text-decoration: none;
}

.informations a:hover {
    color: #FF0000;
}

/*=====RESPONSIVE=====*/

@media screen and (max-width: 860px) { 
    .game{
        display: none;
    
    }

    .small-main{
        display: unset;
        margin-right: 50px;
        padding: 30px ;
        border: 10px solid #135C11;
        margin: 50px auto; 
    }

    .small-main a{
        text-decoration: none;
        font-size: 20px;
        color: white;
    }
    
    #info-container{
        display: none;
    }

    #aboutMe{
        height: 700px;
        width: 400px;
        border: 10px solid #135C11;
        background-color: #021e08;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2332c124' fill-opacity='0.79' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        margin: 40px auto 0px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: inset 0 0 160px;
        line-height: 20px;
        text-align: left;
    }

    #aboutMe h3{
        font-size: 1rem;
    }

} 

@media screen and (max-width: 660px) {
    #title h1{
        font-size: 2rem;
    }

    #title h2{
        font-size: 1rem;
    }

    #small-screen{
        margin: 20px auto;
    }
}

@media screen and (max-width: 500px) {
    
    #aboutMe{
        height: 700px;
        width: 300px;
        margin: 20px auto;
        line-height: 20px;
        font-size: 12px;
    }

    #aboutMe img{
        width: 200px;
    }
}

@media screen and (max-width: 430px) {
    #title h1{
        font-size: 1.5rem;
    }

    #title h2{
        font-size: 1rem;
    }
}  

