/*=====RESET CSS=====*/

html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
    border-style: solid double;
    border-color: #48FB2F;
    border-left-width: 20px;
    border-right-width: 20px;
    box-shadow: inset 0 0 160px;
    background-color: #021e08;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2332c124' fill-opacity='0.58' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/*=====COLOR VARIABLE=====*/

.blackGreen {
    color: #021E08;
}

.darkGreen {
    color: #135C11;
}

.green {
    color: #21891A;
}

.lightGreen{
    color: #32C124;
}

.neonGreen{
    color: #48FB2F;
}

.red {
    color: #FF0000;
}

.game-space-dark{
    border: 10px solid #135C11;
}

.turnneon{
    border: 10px solid #48FB2F !important;
}
/*=====TYPOGRAPHY=====*/

h1{
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 50px;
}

h2{
    font-size: 25px;
    margin-top: 0;
}

h3{
    font-size: 23px;
    align-content: justify;
}

h5{
    font-size: 40px;
    margin-top: 0;
}

p{
    font-size: 20px;
}

/*=====ABOUT=====*/

#title{
    display: flex;
    height: 145px;
    align-items: center;
    justify-content: space-between;
}

.about{
    margin-right: 50px;
    padding: 30px ;
    border: 10px solid #135C11;
}

.about:hover{
    margin-right: 50px;
    padding: 30px ;
    border: 10px solid #135C11;
    background-color: #48FB2F;
}

.about a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#small-screen{
    display: none;
}

.small-about{
    display: none;
}

/*=====INSTRUCTIONS=====*/

main {
    width: 100%;
}

#instructions{
    height: 480px;
    width: 769px;
    border: 10px solid #135C11;
    background-color: #021e08;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2332c124' fill-opacity='0.79' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: inset 0 0 160px;
}


#gameStart{
    border: 5px solid #135C11;
    background-color: #48FB2F;
    font-family:'Press Start 2P', cursive;
    margin: 0 auto 50px auto;
}



/*=====GAME=====*/

#game-space {
    width: 550px;
    height: 550px;
    
    background-color: #021e08;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2332c124' fill-opacity='0.79' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); 
    box-shadow: inset 0 0 160px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.scoreBox {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}


/*=====GAME OVER=====*/

#gameOver{
    width: 700px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.totalScoreBoard{
    width: 100%;
    display: flex;
    justify-content: center;
}

#restartGame {
    background-color: #FF0000;
    border: none;
    width: 100%;
    font-family:'Press Start 2P', cursive;
    margin: 0 auto 50px auto; 
}

/*=====FLICKERING=====*/

.quadrat {
   -webkit-animation: flicker 2s infinite; /* Safari 4+ */
    -moz-animation:flicker 2s infinite; /* Fx 5+ */
    -o-animation: flicker 2s infinite; /* Opera 12+ */
    animation: flicker 2s infinite; /* IE 10+, Fx 29+ */
  }
  
@keyframes flicker {
  0%, 44% {
      background-color: #021e08;
      border: 3px solid #FF0000; 
  }
  45%, 100% {
      background-color: #FF0000;
      border: 3px solid #021e08;
  }
}

/*=====RESPONSIVE=====*/

@media screen and (max-width: 900px) { 
    
    #responsive {
        display: flex;
        flex-direction: column;
    }

    .about{
        display: none;
    
    }

    .small-about{
        display: unset;
        margin-right: 50px;
        padding: 30px ;
        border: 10px solid #135C11;
        margin: 50px auto; 
    }

    .small-about a{
        text-decoration: none;
        font-size: 20px;
        color: white;
    }
    
    #info-container{
        display: none;
    }

    #small-screen{
        height: 400px;
        width: 400px;
        border: 10px solid #135C11;
        background-color: #021e08;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2332c124' fill-opacity='0.79' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        margin: 40px auto 0px auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        box-shadow: inset 0 0 160px;
        line-height: 70px;
        text-align: justify;
    }
} 

@media screen and (max-width: 660px) {
    #title h1{
        font-size: 2rem;
    }

    #title h2{
        font-size: 1rem;
    }

    #small-screen{
        margin: 20px auto;
    }
}

@media screen and (max-width: 500px) {
    
    #small-screen{
        height: 400px;
        width: 300px;
        margin: 20px auto;
        line-height: 50px;
    }
}

@media screen and (max-width: 430px) {
    #title h1{
        font-size: 1.5rem;
    }

    #title h2{
        font-size: 1rem;
    }
}  